<div class="flex mt-20 justify-center items-center ">
  <div class="p-5 bg-slate-200 shadow-lg rounded">
    <p class="text-2xl font-bold text-center w-full pt-1.5 text-slate-700">
      @if (isEditMode()) {
        <p>Edit note</p>
        <p class="text-xs">{{ editedNote()?.id }}</p>
      } @else {
        Add note
      }
    </p>

    <ng-container [ngTemplateOutlet]="noteLoading() ? noteLoadingTpl : contentTpl"/>

    <ng-template #noteLoadingTpl>
      <div class="flex justify-center items-center lg:w-96 w-72 min-h-96">
        <mat-spinner [diameter]="64"/>
      </div>
    </ng-template>

    <ng-template #contentTpl>
      <form (ngSubmit)="submitHandler()" [formGroup]="form" class="lg:w-96 w-72">
        <mat-form-field appearance="outline" class="w-full mt-4">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
          @if (form.get('name').hasError('required')) {
            <mat-error>Name should not be empty!</mat-error>
          }

          @if (form.get('name').hasError('maxlength')) {
            <mat-error>Name should contain up to 64 characters.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full mt-4">
          <mat-label>Your note</mat-label>
          <textarea matInput
                    formControlName="content"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="8"
                    cdkAutosizeMaxRows="20"></textarea>

          @if (form.get('content').hasError('required')) {
            <mat-error>Content should not be empty!</mat-error>
          }

          @if (form.get('content').hasError('maxlength')) {
            <mat-error>Password should contain up to 32 000 characters.</mat-error>
          }
        </mat-form-field>


        @if (!isEditMode()) {
          <div class="flex gap-x-2 items-center">
            <button type="button" mat-button (click)="fileInput.click()">{{ file ? 'Change File' : 'Choose File' }}</button>
            <input hidden (change)="onFileChange($event)" #fileInput type="file">

            <p class="text-xs text-gray-500">{{ file?.name }}</p>
          </div>
        }

        <button [disabled]="loading() || form.invalid" mat-flat-button class="w-full mt-5" type="submit">
          {{ isEditMode() ? 'Update' : 'Add' }}
        </button>
      </form>
    </ng-template>
  </div>
</div>



