<div class="flex mt-20 justify-center items-center ">
  <div class="flex justify-center flex-col items-center p-5 mb-5 bg-slate-200 shadow-lg rounded">
    <p class="text-2xl font-bold text-center w-full pt-1.5 text-slate-700">
      Watch note
    </p>
    <div class="justify-center flex lg:w-2/3 w-72 mt-4">
      <mat-card class="example-card">
        <mat-card-header class="w-full mt-4">
          <mat-card-subtitle>date</mat-card-subtitle>
          <mat-card-title>note name</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-full mt-4">
          <p>author name</p>
          <p class="text-justify ">History
            SSIT is managed by the Sri Siddhartha Education Society, which was founded in 1979.

            The late Sri H.M. Gangadharaiah, a staunch Gandhian and Buddhist, established the Sri Siddhartha Education Society in 1979 with the blessings of the father of Bhoodhan movement, "Saint Vinobha Bhave," with the objective of providing education to the student community from rural areas and backward classes. Since then it is led by Dr. G. Shivaprasad, an ophthalmologist and Dr. G. Parameshwara, a doctorate in agriculture from Australia.[citation needed]

            SSES has 84 educational establishments under its aegis spread across the southern part of Karnataka, including

            Engineering College - Sri Siddhartha Institute of Technology
            Medical College - Sri Siddhartha Medical College
            Dental College - Sri Siddhartha Dental College
            College of Education
            First grade College, TCH^College
            College of Nursing
            Junior colleges
            Training institutions
            Sanskrit schools
            Pali schools
            High schools in several districts in Karnataka State
            Its silver jubilee was celebrated in the year 1984 with the President of India, Sri Giani Zail Singh, as the chief guest.</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions class="w-full mt-4">
          <button mat-button>COPY</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>





